### Gradle ###
.gradle
.gradletasknamecache
build/

### IntelliJ IDEA ###
.idea/*
!.idea/runConfigurations
*.iws
*.iml
*.ipr
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### MacOS ###
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Others ###
*.log
hs_err_pid*